# Ignore .env file
.env

# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore the data folder and its contents
#src/data/

# Ignore CSV files, log files, and system files
*.csv
*.log
.DS_Store
